PORT=3000 # Server Port
DB_TYPE=postgres
DB_HOST=postgres # DB host, set it according the network name on docker-compose file (it will be translated to an IP)
DB_PORT=5432 # DB port inside the container
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=postgres
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
SMTP_EMAIL=example@sample.com
SMTP_PASSWORD=email-password
JWT_SECRET=secretKey
JWT_EXPIRES_IN=7d