DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=postgres
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
SMTP_EMAIL=YOUR_GMAIL_ACCOUNT_HERE
SMTP_PASSWORD=YOUR_GMAIL_PASSWORD_HERE
TEMPLATE_DIR=D:\\projects\\internship-management\\backend\\templates
JWT_SECRET=secretKey
JWT_EXPIRES_IN=1d