<html>
  <body>
    <h1>Recuperação de Senha</h1>
    <br>
    <p>Você solicitou a recuperação da senha sua conta. Para isso clique no link a seguir e você será redirecionado à página de recuperação de senha 
      <a href="{{ forgotPasswordLink }}">Confirme aqui!</a>
    </p>
  </body>
</html>