<html>
  <body>
    <h1>Olá {{ name }}!</h1>
    <br>
    <p>O seu orientando {{ internName }} enviou um relatório semestral</p>
    <p>Entregue em: {{ deliveredDat }}</p>
    <p>Mês: {{ month }}</p>
  </body>
</html>